* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 2rem;
	height: 100%;
}

.mainGrid {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 20vh 4fr;
	grid-gap: 20px;
}

header {
	grid-column: 1 / span 3;
	grid-row: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h3 {
	text-align: center;
	width: 750px;
}

label {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
}

button {
	font-weight: bold;
}

.list {
	font-style: italic;
	border-style: double;
	height: 150px;
}

.results {
	grid-column: 2 / span 2;
	margin: auto 0;
}

.recipes {
	display: flex;
	flex-direction: row;
	border: 5px solid black;
	margin: 2px;
	overflow: hidden;
	background-image: linear-gradient(rgb(163, 232, 241), #918cdf);
}

.img {
	height: 30%;
	width: 40rem;
	align-items: center;
}

li {
	font-weight: bold;
	font-size: 17px;
}
